# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=NA

GITHUB_CLIENT_ID=NA
GITHUB_CLIENT_SECRET=NA
GITHUB_ACCESS_TOKEN=NA

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL="mysql://root:root@localhost:3306/taxonomy?schema=public"

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
SMTP_FROM=NA
POSTMARK_API_TOKEN=NA
POSTMARK_SIGN_IN_TEMPLATE=NA
POSTMARK_ACTIVATION_TEMPLATE=NA

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=NA
STRIPE_WEBHOOK_SECRET=NA
STRIPE_PRO_MONTHLY_PLAN_ID=NA
